<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', '삼성전자', 'LG화학', 'NAVER', '넷마블'],
          ['2014', 1000, 400, 200, 300],
          ['2015', 1170, 460, 250, 500],
          ['2016', 660, 1120, 300, 640],
          ['2017', 1030, 540, 350, 420]
        ]);

        var options = {
          chart: {
            title: '나만의 포트폴리오',
            subtitle: '주가, 보유종목 : 2014-2017',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <body>
    <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
  </body>
</html>